.container {
  margin: 10px;
  text-align: center;
}

#logout-button {
  float: right
}

#employee-table {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd; 
}

th {
  background-color: #f2f2f2;
}

button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}

.footer{
  padding: 6px;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
}

h1{
  padding: 10px;
  background-color: #f2f2f2;
  color: black;
}

.button{
  text-align: left;
}

.container1 {
  display: flex;
  margin: 10px;
  align-items: center;
}

#button {
  margin-right: auto; 
}
